.name:hover
{
  scale: 1.2;
  transition: 2s;
  color: rgb(102, 102, 102);
}

.home:hover
{
  font-family:cursive;
}

.about:hover
{
  font-style: italic;
  transition-delay: 0ms;
}

.socials:hover
{
  font-family:fantasy;
}

.center
{
  width: 50%;
  margin-left: 25%;
}

.me
{
  width: 30%;
  margin-left: 40%;
}

.TA
{
  border-radius: 5px;
  outline: none;
}

.UC
{
  background-color: rgb(70, 22, 108);
  border: 2px ;
  padding: 6px;
  margin-left: 20%;
  margin-top: 10px;
  border-radius: 20px;
}

.LC
{
  background-color: rgb(70, 22, 108);
  border: 2px ;
  padding: 6px;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 20px;
}

.bold
{
  background-color: rgb(70, 22, 108);
  border: 2px ;
  padding: 6px;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 20px;
}

.Italic
{
  background-color: rgb(70, 22, 108);
  border: 2px ;
  padding: 6px;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 20px;
}


.BTN:hover
{
  scale: 1.25;
  transition: 0.8s;
  color: rgb(102, 102, 102);
}

.container-1
{
  display: flexbox;
  flex-direction: row;
  flex-wrap: wrap;
}

.item
{
  padding: 20px;
}

.item-1
{
  flex: 1 75%;
  
}

.item-2
{
  flex: 1 25%;
  
}

.item-3
{
  flex: 1 50%;
}

.item-4
{
  flex: 1 50%;
}






