.name:hover
{
  scale: 1.2;
  transition: 2s;
  color: #04f3d0;
}

.home:hover
{
  font-family:cursive;
}

.about:hover
{
  font-style: italic;
  transition-delay: 0ms;
}

.socials:hover
{
  font-family:fantasy;
}

.center
{
  width: 60%;
  margin-left: 25%;
}

.TA
{
  border-radius: 5px;
  outline: none;
}

.UC
{
  background-color: rgb(70, 22, 108);
  border: 2px ;
  padding: 6px;
  margin-left: 25%;
  margin-top: 10px;
  border-radius: 20px;
}

.LC
{
  background-color: rgb(70, 22, 108);
  border: 2px ;
  padding: 6px;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 20px;
}

.bold
{
  background-color: rgb(70, 22, 108);
  border: 2px ;
  padding: 6px;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 20px;
}

.Italic
{
  background-color: rgb(70, 22, 108);
  border: 2px ;
  padding: 6px;
  margin-left: 2%;
  margin-top: 10px;
  border-radius: 20px;
}


.btn:hover
{
  scale: 1.25;
  transition: 0.8s;
  color: #04f3d0;
  border-radius: 20px;
}

.BOLD
{
  font-weight: bold;
}





